Repository CartoDB/cartoframes, pull requests merged in 2019-11, with the labels that each got.

#1145 stroke_width, size, and opacity to none
  cartoframes/viz/defaults.py
  cartoframes/viz/helpers/animation_layer.py
  cartoframes/viz/helpers/cluster_size_layer.py
  cartoframes/viz/helpers/color_bins_layer.py
  cartoframes/viz/helpers/color_category_layer.py
  cartoframes/viz/helpers/color_continuous_layer.py
  cartoframes/viz/helpers/size_bins_layer.py
  cartoframes/viz/helpers/size_category_layer.py
  cartoframes/viz/helpers/size_continuous_layer.py
  cartoframes/viz/helpers/utils.py
Labels: helper-cartography

#1216 catalog reference API docstrings
  CHANGELOG.md
  cartoframes/data/observatory/__init__.py
  cartoframes/data/observatory/catalog/catalog.py
  cartoframes/data/observatory/catalog/category.py
  cartoframes/data/observatory/catalog/country.py
  cartoframes/data/observatory/catalog/dataset.py
  cartoframes/data/observatory/catalog/entity.py
  cartoframes/data/observatory/catalog/geography.py
  cartoframes/data/observatory/catalog/provider.py
  cartoframes/data/observatory/catalog/subscription_info.py
  cartoframes/data/observatory/catalog/subscriptions.py
  cartoframes/data/observatory/catalog/variable.py
  cartoframes/data/observatory/catalog/variable_group.py
  cartoframes/data/observatory/enrichment/enrichment.py
  cartoframes/data/observatory/enrichment/enrichment_service.py
  examples/_debug/do_catalog_discovery.ipynb
  tests/unit/data/observatory/catalog/test_category.py
  tests/unit/data/observatory/catalog/test_country.py
  tests/unit/data/observatory/catalog/test_dataset.py
  tests/unit/data/observatory/catalog/test_geography.py
  tests/unit/data/observatory/catalog/test_provider.py
  tests/unit/data/observatory/catalog/test_variable.py
  tests/unit/data/observatory/catalog/test_variable_group.py
Labels: documentation

#1272 [Guides] Include financial dataset discovery
  cartoframes/data/observatory/catalog/entity.py
  docs/developer-center/guides/06-Data-discovery.md
  examples/discovery/explore_data_observatory_catalog.ipynb
  tests/unit/data/observatory/catalog/test_geography.py
Labels: documentation, guides

#1275 [Guides] Enrichment (WIP)
  .gitignore
  cartoframes/analysis/grid.py
  cartoframes/core/cartodataframe.py
  cartoframes/core/managers/context_manager.py
  cartoframes/data/observatory/catalog/dataset.py
  cartoframes/data/observatory/catalog/geography.py
  cartoframes/data/observatory/enrichment/enrichment.py
  cartoframes/data/observatory/enrichment/enrichment_service.py
  cartoframes/data/services/isolines.py
  cartoframes/io/carto.py
  cartoframes/io/dataset_info.py
  cartoframes/utils/columns.py
  cartoframes/utils/geom_utils.py
  cartoframes/utils/utils.py
  cartoframes/viz/source.py
  docs/developer-center/guides/08-Enrichment.md
  examples/_debug/cartodataframe.ipynb
  examples/data_enrichment/enrichment_guide.ipynb
  examples/files/enrichment_01.png
  examples/files/starbucks_brooklyn_geocoded.geojson
  examples/files/starbucks_brooklyn_isolines.geojson
  tests/unit/core/test_cartodataframe.py
  tests/unit/data/observatory/catalog/test_dataset.py
  tests/unit/data/observatory/catalog/test_geography.py
  tests/unit/data/observatory/enrichment/test_enrichment_service.py
  tests/unit/data/observatory/enrichment/test_points_enrichment.py
  tests/unit/data/observatory/enrichment/test_polygon_enrichment.py
  tests/unit/io/__init__.py
  tests/unit/io/test_carto.py
  tests/unit/utils/test_columns.py
  tests/unit/utils/test_geom_utils.py
  tests/unit/viz/helpers/test_cluster_size_layer.py
  tests/unit/viz/helpers/test_color_bins_layer.py
  tests/unit/viz/helpers/test_color_category_layer.py
  tests/unit/viz/helpers/test_color_continuous_layer.py
  tests/unit/viz/helpers/test_size_bins_layer.py
  tests/unit/viz/helpers/test_size_category_layer.py
  tests/unit/viz/helpers/test_size_continuous_layer.py
  tests/unit/viz/test_kuviz.py
  tests/unit/viz/test_layout.py
  tests/unit/viz/test_map.py
  tests/unit/viz/utils.py
Labels: documentation, guides

#1266 [Guides] - Final Review
  cartoframes/core/cartodataframe.py
  cartoframes/data/observatory/catalog/entity.py
  cartoframes/data/observatory/enrichment/enrichment.py
  cartoframes/io/dataset_info.py
  docs/developer-center/guides/01-Introduction.md
  docs/developer-center/guides/02-Installation.md
  docs/developer-center/guides/03-Authentication.md
  docs/developer-center/guides/04-Quickstart-Part-1.md
  docs/developer-center/guides/04-Quickstart.md
  docs/developer-center/guides/05-Quickstart-Part-2.md
  docs/developer-center/guides/05-Visualization.md
  docs/developer-center/guides/06-Data-discovery.md
  docs/developer-center/guides/07-Data-enrichment.md
  docs/developer-center/guides/08-Location-Data-Services.md
  docs/developer-center/img/guides/enrichment/enrichment_01.png
  examples/data_enrichment/enrichment_guide.ipynb
  examples/data_services/starbucks_stores.ipynb
  examples/discovery/explore_data_observatory_catalog.ipynb
  examples/files/enrichment_01.png
  examples/files/starbucks_brooklyn_geocoded.geojson
  examples/files/starbucks_brooklyn_isolines.geojson
  tests/unit/core/test_cartodataframe.py
  tests/unit/data/observatory/catalog/test_geography.py
Labels: documentation, guides
