Repository CartoDB/cartoframes, pull requests merged in 2019-10, with the labels that each got.

#1049 Use public views and remove unnecessary api-key file
  cartoframes/data/observatory/repository/repo_client.py
  do_metadata_key.py
Labels: discovery

#1044 Feature/1038 remove pandas extension
  CHANGELOG.md
  cartoframes/data/__init__.py
  cartoframes/data/observatory/__init__.py
  cartoframes/data/observatory/catalog.py
  cartoframes/data/observatory/category.py
  cartoframes/data/observatory/country.py
  cartoframes/data/observatory/dataset.py
  cartoframes/data/observatory/entity.py
  cartoframes/data/observatory/geography.py
  cartoframes/data/observatory/provider.py
  cartoframes/data/observatory/repository/category_repo.py
  cartoframes/data/observatory/repository/constants.py
  cartoframes/data/observatory/repository/country_repo.py
  cartoframes/data/observatory/repository/dataset_repo.py
  cartoframes/data/observatory/repository/entity_repo.py
  cartoframes/data/observatory/repository/geography_repo.py
  cartoframes/data/observatory/repository/provider_repo.py
  cartoframes/data/observatory/repository/repo_client.py
  cartoframes/data/observatory/repository/variable_group_repo.py
  cartoframes/data/observatory/repository/variable_repo.py
  cartoframes/data/observatory/variable.py
  cartoframes/data/observatory/variable_group.py
  examples/07_catalog/discovery.ipynb
  test/data/observatory/examples.py
  test/data/observatory/repository/test_category_repo.py
  test/data/observatory/repository/test_country_repo.py
  test/data/observatory/repository/test_dataset_repo.py
  test/data/observatory/repository/test_geography_repo.py
  test/data/observatory/repository/test_provider_repo.py
  test/data/observatory/repository/test_variable_group_repo.py
  test/data/observatory/repository/test_variable_repo.py
  test/data/observatory/test_catalog.py
  test/data/observatory/test_category.py
  test/data/observatory/test_country.py
  test/data/observatory/test_dataset.py
  test/data/observatory/test_geography.py
  test/data/observatory/test_provider.py
  test/data/observatory/test_variable.py
  test/data/observatory/test_variable_group.py
Labels: discovery

#1076 Fix isoline options parameters
  cartoframes/data/services/isolines.py
  test/data/services/test_isolines.py
Labels: bug

#1070 Fix metadata was missing from non-dry return
  cartoframes/data/services/isolines.py
  test/data/services/test_isolines.py
Labels: bug

#1069 Feature/1038 nested filters
  CHANGELOG.md
  cartoframes/data/observatory/catalog.py
  cartoframes/data/observatory/dataset.py
  cartoframes/data/observatory/entity.py
  cartoframes/data/observatory/repository/category_repo.py
  cartoframes/data/observatory/repository/constants.py
  cartoframes/data/observatory/repository/country_repo.py
  cartoframes/data/observatory/repository/dataset_repo.py
  cartoframes/data/observatory/repository/entity_repo.py
  cartoframes/data/observatory/repository/geography_repo.py
  cartoframes/data/observatory/repository/provider_repo.py
  cartoframes/data/observatory/repository/repo_client.py
  cartoframes/data/observatory/repository/variable_group_repo.py
  cartoframes/data/observatory/repository/variable_repo.py
  examples/07_catalog/discovery.ipynb
  test/data/observatory/examples.py
  test/data/observatory/repository/test_category_repo.py
  test/data/observatory/repository/test_country_repo.py
  test/data/observatory/repository/test_dataset_repo.py
  test/data/observatory/repository/test_geography_repo.py
  test/data/observatory/repository/test_provider_repo.py
  test/data/observatory/repository/test_variable_group_repo.py
  test/data/observatory/repository/test_variable_repo.py
  test/data/observatory/test_catalog.py
  test/data/observatory/test_category.py
  test/data/observatory/test_country.py
  test/data/observatory/test_dataset.py
  test/data/observatory/test_geography.py
  test/data/observatory/test_provider.py
  test/data/observatory/test_variable.py
  test/data/observatory/test_variable_group.py
Labels: discovery

#1085 Add doc to enrichment functions
  cartoframes/data/enrichment/points_enrichment.py
  cartoframes/data/enrichment/polygons_enrichment.py
  docs/includes/data_enrichment.rst
  docs/includes/data_observatory.rst
  docs/includes/data_services_geocode.rst
  docs/includes/introduction.rst
Labels: documentation, enrichment

#1086 Support filtering by slug
  cartoframes/data/observatory/catalog.py
  cartoframes/data/observatory/entity.py
  cartoframes/data/observatory/repository/entity_repo.py
  cartoframes/data/observatory/repository/repo_client.py
  cartoframes/data/observatory/repository/variable_group_repo.py
  cartoframes/data/observatory/repository/variable_repo.py
  examples/07_catalog/discovery.ipynb
  test/data/observatory/examples.py
  test/data/observatory/repository/test_category_repo.py
  test/data/observatory/repository/test_variable_group_repo.py
  test/data/observatory/repository/test_variable_repo.py
  test/data/observatory/test_catalog.py
  test/data/observatory/test_variable.py
  test/data/observatory/test_variable_group.py
Labels: discovery

#1089 Get list of entities by list of ids or slugs
  cartoframes/data/observatory/entity.py
  cartoframes/data/observatory/repository/entity_repo.py
  cartoframes/data/observatory/repository/repo_client.py
  test/data/observatory/repository/test_category_repo.py
  test/data/observatory/repository/test_country_repo.py
  test/data/observatory/repository/test_dataset_repo.py
  test/data/observatory/repository/test_geography_repo.py
  test/data/observatory/repository/test_repo_client.py
  test/data/observatory/repository/test_variable_group_repo.py
  test/data/observatory/repository/test_variable_repo.py
Labels: discovery

#1093 Add Country.categories and Category.geographies properties
  cartoframes/data/observatory/category.py
  cartoframes/data/observatory/country.py
  cartoframes/data/observatory/dataset.py
  cartoframes/data/observatory/entity.py
  cartoframes/data/observatory/geography.py
  cartoframes/data/observatory/provider.py
  cartoframes/data/observatory/repository/dataset_repo.py
  cartoframes/data/observatory/repository/geography_repo.py
  cartoframes/data/observatory/repository/repo_client.py
  cartoframes/data/observatory/repository/variable_group_repo.py
  cartoframes/data/observatory/repository/variable_repo.py
  cartoframes/data/observatory/variable.py
  cartoframes/data/observatory/variable_group.py
  test/data/observatory/repository/test_category_repo.py
  test/data/observatory/repository/test_country_repo.py
  test/data/observatory/repository/test_dataset_repo.py
  test/data/observatory/repository/test_geography_repo.py
  test/data/observatory/repository/test_variable_group_repo.py
  test/data/observatory/repository/test_variable_repo.py
  test/data/observatory/test_category.py
  test/data/observatory/test_country.py
  test/data/observatory/test_dataset.py
  test/data/observatory/test_geography.py
  test/data/observatory/test_provider.py
  test/data/observatory/test_variable.py
  test/data/observatory/test_variable_group.py
Labels: discovery

#1105 Feature/catalog-tweaks
  CHANGELOG.md
  cartoframes/data/observatory/__init__.py
  cartoframes/data/observatory/catalog.py
  cartoframes/data/observatory/dataset.py
  cartoframes/data/observatory/entity.py
  cartoframes/data/observatory/repository/dataset_repo.py
  cartoframes/data/observatory/variable.py
  old-examples/07_catalog/discovery.ipynb
  test/data/observatory/examples.py
  test/data/observatory/repository/test_dataset_repo.py
  test/data/observatory/test_catalog.py
  test/data/observatory/test_category.py
  test/data/observatory/test_country.py
  test/data/observatory/test_dataset.py
  test/data/observatory/test_geography.py
  test/data/observatory/test_provider.py
  test/data/observatory/test_variable.py
  test/data/observatory/test_variable_group.py
Labels: discovery

#1083 Feature/fix enrichment new catalogue
  cartoframes/data/enrichment/enrichment_service.py
  cartoframes/data/enrichment/enrichment_utils.py
  cartoframes/data/enrichment/points_enrichment.py
  cartoframes/data/enrichment/polygons_enrichment.py
  cartoframes/utils/geom_utils.py
  cartoframes/utils/utils.py
  cartoframes/viz/legend.py
  docs/includes/data_enrichment.rst
  docs/includes/data_observatory.rst
  test/data/enrichment/test_service.py
  test/viz/test_legend.py
Labels: enrichment
